/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/*.json
/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
/

/vendor
/info
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/database/schema
